body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 40px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    
  }  
  .profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .profile img{
    width: 8rem;
    margin-right: 2rem;

  }

  .career div img{
    width: 10rem;
    margin-left: 1rem;
  }
  .career{
    display: flex;
    flex-direction: row-reverse;
  }
  .achievements{
    display: flex;
    flex-direction: row;
  }
  .achievements div img{
    width: 8rem;
    margin-right: 2rem;
  }
  .personal_life div img{
    width: 10rem;
  }
  .personal_life{
    display: flex;
    flex-direction: row-reverse;
  }
  .d_flex{
 display: flex;
    flex-direction: reverse;
  }
  .controversies div img{
    width: 8rem; 
    margin-right: 2rem;
  }  .Created_by{
    color: #000000;
    width: 100%;
    background-color: #fff;
    height: 3rem;
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
  }
  .Created_by p{
    align-items: center;
    display: flex;
    margin: auto;
    font-weight: 700;
  }